<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="./assets/index10/foundation.min.css">
    <link rel="stylesheet" href="./assets/index10/app.css">
</head>

<body>

    <div id="app">
        <section v-if="gameIsOn" class="row">
            <div class="small-6 columns">
                <h1 class="text-center">SEN</h1>
                <div class="healthbar">
                    <div :style="playerProgress" class="healthbar text-center" style="background-color: green; margin: 0; color: white;">
                        {{playerHealth}}%
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">CANAVAR</h1>
                <div class="healthbar">
                    <div :style="monsterProgress" class="healthbar text-center" style="background-color: green; margin: 0; color: white;">
                        {{monsterHealth}}%
                    </div>
                </div>
            </div>
        </section>
        <section v-if="!gameIsOn" class="row controls" >
            <div class="small-12 columns">
                <button id="start-game" @click="startGame">YENİ OYUN</button>
            </div>
        </section>
        <section v-if="gameIsOn" class="row controls">
            <div class="small-12 columns">
                <button id="attack" @click="attack">SALDIRI</button>
                <button id="special-attack" @click="specialAttack">ÖZEL SALDIRI</button>
                <button id="heal" @click="healUp">İLK YARDIM</button>
                <button id="give-up" @click="giveUp">PES ET!</button>
            </div>
        </section>
        <section v-if="logs.length>0" class="row log">
            <div class="small-12 columns">
                <ul>
                    <li 
                    class="turn"  
                    :class="{'player-turn':log.turn,'monster-turn':!log.turn}" 
                    v-for="log in logs"
                    :key="log.id">{{log.text}}</li>
                </ul>
            </div>
        </section>
    </div>


</body>

<script src="./assets/index10/app.js"></script>

</html>