<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        #effect {
            width: 100px;
            height: 100px;
            border: 1px solid black;
        }

        .highlight {
            background-color: red;
            width: 200px !important;
        }

        .shrink {
            background-color: gray;
            width: 50px !important;
        }
        .proggress{
            height: 20px;
            background-color: green;
            width: 0;
        }
        .red{ background-color: red;}
        .yellow{ background-color: yellow;}
        .fs20{font-size: 20px;}
        .fs30{font-size: 30px;}
    </style>
</head>

<body>

    <div id="app">
        <!-- 1) Efekti Butona basarak başlatın. Efekt "highlight" ve/veya "shrink" class'ları arasında değişmelidir. Bu değişim her bir interval döngüsünde olmalıdır. ("effect" id' li div'e o anki aktif olan class eklenecektir.) -->
        <div>
            <button @click="startEffect">Efekti Başlat!</button>
            <div :class="effectClass" id="effect"></div>
        </div>
        <!-- 2) Birkaç tane CSS Class'ı üreterek bu Class'ları Array Syntax'ı ile aşağıdaki <div>' e ekleyiniz -->
        <div :class="[color,fs]">Henüz bir class'ım yok :(</div>
        <!-- 3) Örnek birkaç tane Class üreterek (Ya da ürettiklerinizi kullanarak) <input> içerisine Class adı girerek hemen alttaki <div> elementine bu yazılan Class'ı eklemeyi yapınız. -->
        <div>
            <input type="text" v-model="color">
            <div :class="color">Ornek 3</div>
        </div>
        <!-- 4) Kullanıcının Class isimlerini girebileceği iki adet <input> elementimiz var. Bunları kullanarak hemen alttaki <div> elementinin Class'larini attached etmesini sağlayınız  -->
        <div>
            <input type="text" v-model="color">
            <input type="text" v-model="fs">
            <div :class="[color,fs]">Ornek 4</div>
        </div>
        <!-- 5) 3.Uygulamayı tekrarlayın. Fakat bu sefer Class Adı yerine Denk gelecek Style Kodlarını ekleyiniz.  -->
        <div>
            <input type="text" v-model="color">
            <div :style="customStyle">Ornek 5</div>
        </div>
        <!-- 6) setInterval ve Style Binding kullanarak Basit bir progress bar üretin. Progress bar' ın çalışmasını buton'a basarak başlatın. -->
        <div>
            <button v-on:click="startProgress">Progress İşlemini Başlat!</button>
            <div :style="progressStyle" class="proggress"></div>
        </div>
    </div>

</body>

<script>
    new Vue({
        el: "#app",
        data: {
            effect: false,
            effectType: false,
            color:"red",
            fs:"fs20",
            progress:0
        },
        methods: {
            startEffect: function () {
                this.effect=true;
                vm=this;
                setInterval(function(){
                    vm.effectType=!vm.effectType;
                },300);
            },
            startProgress: function () {
                vm=this;
                vm.progress=0;
               const progressInterval= setInterval(function(){
                    vm.progress+=5;
                    if(vm.progress==100)
                        clearInterval(progressInterval);
                },300);
            }
        },
        computed: {
            effectClass: function () {
                return {
                    highlight: this.effect && this.effectType,
                    shrink: this.effect && !this.effectType,
                }
            },
            customStyle:function(){
                return{
                    backgroundColor:this.color
                }
            },
            progressStyle:function(){
                return {
                    width:this.progress+'%'
                }
            }
        }
    });

</script>

</html>