<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <ul>
            <li v-for="(product,index) in products" :key="product">{{index+1}}-{{product}}</li>
        </ul>

        <hr>

        <div v-for="(product,index) in products">
            <h3>{{product}}</h3>
            <h5>{{index}}</h5>
        </div>

        <hr>

        <template v-for="(product,index) in products">
            <h3>{{product}}</h3>
            <h5>{{index}}</h5>
        </template>

        <hr>

        <ul>
            <li v-for="(person,index) in persons">{{index+1}}-{{person.name}}- {{person.email}}</li>
        </ul>
        

        <hr>


        <ul>
            <li v-for="(person,index) in persons">
                {{index}}
                <ul>
                    <li v-for="(value,key,index) in person">{{index}} - {{key}} : {{value}}</li>
                </ul>
            </li>
        </ul>

        <hr>

        <span v-for="i in 5"> {{i}} </span>
    </div>


</body>

<script>
    new Vue({
        el: "#app",
        data: {
            products:["Product 1","Product 2","Product 3","Product 4"],
            persons:[
                {name:"Recep",email:"recep@g.c"},
                {name:"Yusuf",email:"yusuf@g.c"},
                {name:"Omer",email:"omer@g.c"},
                {name:"Hikmet",email:"hikmet@g.c"}
            ]
        }
    });

</script>

</html>